{% extends 'base.html' %}
{% load static %}
{% block content %}


		<header id="fh5co-header" class="fh5co-cover" style="background-image: url({% static 'website/images/hotel_junior2.jpg' %}); "data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Tu odbędzie się nasze wesele</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	    </header>
        <div class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="text-center fh5co-heading ">
					<h2>Lokalizacja</h2>
					<div class="col-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10258.357284139083!2d19.85318936740129!3d50.00030856680353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165db1da5df2e5%3A0x3c76233a5334e27c!2sHotel%20Junior!5e0!3m2!1spl!2spl!4v1609241826914!5m2!1spl!2spl" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}