{% extends 'base.html' %}
{% load static %}
{% block content %}

	<header id="fh5co-header" class="fh5co-cover" style="background-image: url({% static 'website/images/tyniec.jpg' %}); " data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Potwierdź swoją obecność :)</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-started" class="fh5co-bg">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Are You Attending?</h2>
					<p>Please Fill-up the form to notify you that you're attending. Thanks.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="name" class="form-control" id="name" placeholder="Name & Surname">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="number" class="sr-only">Amount of people</label>
								<input type="number" class="form-control" id="number" placeholder="Amount of people">
							</div>
						</div>
						<br>
						<br>
						<br>
						<center>
							<div class="col-md-12 col-sm-12">
								<button type="submit" class="btn btn-default btn-block">I am Attending</button>
							</div>
						</center>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}