{% extends 'base.html' %}
{% load static %}
{% block content %}

	<header id="fh5co-header" class="fh5co-cover" style="background-image: url({% static 'website/images/tyniec.jpg' %}); " data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Here will be graphic with tables</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

{% endblock %}